

/********** Base styles **********/
*{
	box-sizing: border-box;
	
}


h1 {
  margin-left: 45%;
}

p{ 
font-family:Times New Roman;
font-size:16px;
	
	}


.paradiv {
  border: 1px solid black;
  margin: 10px;
 

  
}

#div1 {
  background-color: gray;
  position:relative;
  
}
#div2 {
  background-color: gray;
  position:relative;
}
#div3 {
  background-color: gray;
  position:relative;
}




h4{
	margin:0px;
	position:absolute;
	top:0px;
	right:0px;
	padding:2px;
}


h4.C{
background-color:blue;	
}

h4.B{
background-color:red;	
}

h4.S{
background-color:yellow;	
}




p{
background-color:gray;

}


/********** desktop view **********/
@media (min-width: 992px) {
  .paradiv {
	
    width: 31%;
	float: left ;
	margin: 1%;
	padding:1%;
	overflow:hidden;
  }

}


/********** tablet view **********/
@media (min-width: 768px) and (max-width: 991px) {
  #div1,#div2 {
    width: 48%;
	float: left ;
	margin: 1%;
	padding:1%;
  }
  
  #div3 {
    width: 98%;
	float: left;
	margin: 1%;
	padding:1%;
  }
 
}


/********** mobile view **********/
@media (max-width: 767px) {
  div{
	  
    width: 98%;
	float: left;
	margin: 1%;
	padding:1%;
	overflow:hidden;
  }

}
}